<div class="module context-info">
  <section class="module-content">
    <div class="image">
      <a href="#">
        <img src="{{ h.url_for_static('/base/images/jata-negara-malaysia.png') }}" width="200">
      </a>
    </div>
    <h1 class="heading">{{ title }}</h1>
    <p>
      {{ h.markdown_extract(lipsum(1), 160) }}
      <a href="#">read more</a>
    </p>
      <div class="nums">
        <dl>
          <dt>Stat #1</dt>
          <dd>{{ h.SI_number_span(11111) }}</dd>
        </dl>
        <dl>
          <dt>Stat #2</dt>
          <dd>{{ h.SI_number_span(111) }}</dd>
        </dl>
      </div>
  </section>
</div>
