{% set url=h.url_for(controller='organization', action='read', id=organization.name) %}
{% set truncate=truncate or 0 %}
{% block organization_item %}
  <section class="group-list module module-narrow module-shallow">
    {% block organization_item_header %}
      <header class="module-heading">
        {% block organization_item_header_image %}
        <a class="module-image" href="{{ url }}">
          <img src="{{ organization.image_display_url or h.url_for_static('/base/images/jata-negara-malaysia.png') }}" alt="{{ organization.name }}" />
        </a>
        {% endblock %}
        {% block organization_item_header_title %}
          <h3 class="media-heading"><a href={{ url }}>{{ organization.title or organization.name }}</a></h3>
        {% endblock %}
        {% block organization_item_header_description %}
          {% if organization.description %}
            {% if truncate == 0 %}
              <p>{{ h.markdown_extract(organization.description)|urlize }}</p>
            {% else %}
              <p>{{ h.markdown_extract(organization.description, truncate)|urlize }}</p>
            {% endif %}
          {% endif %}
        {% endblock %}
      </header>
    {% endblock %}
    {% block organization_item_content %}
      {% set list_class = "unstyled dataset-list" %}
      {% set item_class = "dataset-item module-content" %}
      {% snippet 'snippets/package_list.html', packages=organization.packages, list_class=list_class, item_class=item_class, truncate=120 %}
    {% endblock %}
  </section>
{% endblock %}
